
.container {
    width: 300px;
    margin: auto;
    margin-top: 40px;
    padding: 15px;
    background-color: pink;
    
}


h1 {
    text-align: center;
    color:red;
}

.image{
    text-align: right;
    
}
.image-box {
    height: 10vh;
    width: 10vw;
    border-radius: 90px;
}


label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
}
textarea {
    width: 100%;
    margin-top: 5px;
    color: blue;
}
